.toolbar {
    min-height: 3.2em;
    border-width: 2px;
    border-bottom: 2px solid @borders;
}

.ColorButtonContainer {
    padding-top: 2px;
}

.canvas-region {
    background-color: rgb(222, 222, 222);
    padding-right: 36px;
    padding-bottom: 36px;
}

.canvas-region-corner {
  background-color: #ffffff;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.drawing-area {
    box-shadow: rgba(0, 0, 0, 0.12) 8px 8px 8px;
}
