.toolbar {
    min-height: 3.2em;
    border-width: 2px;
}

.ColorButtonContainer {
    padding-top: 2px;
}

.canvas-region {
    background-color: rgb(222, 222, 222);
}

.drawing-area {
    box-shadow: rgba(0, 0, 0, 0.12) 8px 8px 8px;
}
